          {% include 'dashboard-user/user_header.html' %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-1">Profil Saya</h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img
                          src="../static/assets/img/avatars/6.png"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload foto baru</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg"
                            />
                          </label>
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                          </button>

                          <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                      </div>
                    </div>
                    {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                     <p>{{ message }}</p>
                    {% endfor %}
                  {% endif %}
              {% endwith %}
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST" action="{{ url_for('profile') }}">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label class="form-label">Nama Awal</label>
                            <input
                              class="form-control"
                              type="text"
                              name="nama_awal"
                              value="{{nama_awal}}"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label">Nama Akhir</label>
                            <input
                              class="form-control"
                              type="text"
                              name="nama_akhir"
                              value="{{nama_akhir}}"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="email"
                              value={{email}}
                              placeholder="john.doe@example.com"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="jenis_kelamin" class="form-label">Jenis Kelamin</label>
                            <select id="jenis_kelamin" name="jenis_kelamin" class="select2 form-select" required>
                              <option value="">Pilih Jenis Kelamin</option>
                              <option value="Laki-laki" {% if jenis_kelamin == 'Laki-laki' %}selected{% endif %}>Laki-laki</option>
                              <option value="Perempuan" {% if jenis_kelamin == 'Perempuan' %}selected{% endif %}>Perempuan</option>
                            </select>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="html5-date-input" class="col-md-3 form-label">Tanggal Lahir</label>
                              <input class="form-control" type="date" name="tanggal_lahir" value="{{tanggal_lahir}}" id="html5-date-input" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label">Agama</label>
                            <input
                              class="form-control"
                              type="text"
                              name="agama"
                              value={{agama}}
                              placeholder="Agama"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">Nomor Telepon</label>
                            <div class="input-group input-group-merge">
                              <input
                                type="text"
                                id="phoneNumber"
                                name="no_telp"
                                class="form-control"
                                value={{no_telp}}
                                placeholder="+6282 555 011 111"
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Alamat</label>
                            <input type="text" class="form-control" id="address" name="alamat" value="{{alamat}}" placeholder="Alamat" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Kota</label>
                            <input type="text" class="form-control" name="kota" value="{{kota}}" placeholder="Kota" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="address" class="form-label">Provinsi</label>
                            <input type="text" class="form-control" name="provinsi" value="{{provinsi}}" placeholder="Provinsi" />
                          </div>
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Simpan Perubahan</button>
                          <button type="reset" class="btn btn-outline-secondary"><a href="{{ url_for('dashboard') }}">Kembali</a></button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card">
                    <h5 class="card-header">Hapus Akun</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">Apakah Anda yakin ingin menghapus akun Anda?</h6>
                          <p class="mb-0">Setelah Anda menghapus akun, Anda tidak dapat kembali lagi. Pastikan Anda yakin.</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation"
                          />
                          <label class="form-check-label" for="accountActivation"
                            >Saya mengonfirmasi penghapusan akun saya</label
                          >
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Hapus Akun</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            {% include 'dashboard-user/user_footer.html' %}